<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-title class="negrita">All Classrooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="ion-padding">
        <div class="imagen">
          <img class="imagenTamanyo" src='../assets/logoPi.png'>
        </div>
        <ion-card *ngFor="let classroom of classrooms">
          <ion-item>
            <ion-label class="font" (click)="addClassroom(classroom.id)">Course: {{classroom.name}}</ion-label>
          </ion-item>
        </ion-card>
      </div>
</ion-content>

