<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-title class="negrita">
      New Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="imagen">
      <img class="imagenTamanyo" src='../assets/logoPi.png'>
    </div>
    <br>
    <ion-label class="font">Tittle</ion-label>
    <ion-item>
      <br>
      <ion-input [(ngModel)]="title" placeholder="Tittle..."></ion-input>
    </ion-item>
    <br>
    <ion-label class="font">Description</ion-label>
    <ion-item>
      <ion-textarea rows="15" cols="20" [(ngModel)]="report.description" placeholder="Write the report description here..."></ion-textarea>
    </ion-item>
    <div class="buttonCreate">
      <ion-button shape="round" color="danger" class="shadow-red" (click)="save()" shape="round">
        Create a report</ion-button>
    </div>
  </div>

</ion-content>
