.imagen{
    display:  flex;
    justify-content: center;
    margin-top: 30px;
}

.imagenTamanyo {
    width: 300px;
}

.shadow-red {
    border-radius: 50%;
    box-shadow: 0px 10px 15px #800000;
}

.butt{
    text-align: center;
    margin-top: 100px;
}

.font{
    font-weight: bold;
    font-size: 20px;
}