<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-title class="negrita">Your Classrooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imagen">
    <img class="imagenTamanyo" src='../assets/logoPi.png'>
  </div>
      <div class="ion-padding">
        <ion-card *ngFor="let classroom of classrooms">
          <ion-item>
            <ion-label class="font" [routerLink]="['/list-alumnos/', classroom.id]">Course: {{classroom.name}}</ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div class="butt">
        <ion-button color="danger" class="shadow-redSecond" shape="round" [routerLink]="['/add-classroom-screen']">add new classroom</ion-button>
      </div>
      <div class="butt">
        <ion-button color="danger" class="shadow-redSecond" shape="round" [routerLink]="['/all-classrooms-list-screen']">add to existing classroom</ion-button>
      </div>
</ion-content>