<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-title class="negrita">
      Teachers
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="imagen">
    <img class="imagenTamanyo" src='../assets/logoPi.png'>
  </div>
  <ion-list *ngFor="let teacher of teachers">
    <ion-card (click)="navigate(teacher.id)">
      <ion-item>
        <ion-label>{{teacher.name}} {{teacher.surname}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
