<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">

    <div class="imagen">
      <img class="imagenTamanyo" src='../assets/logoPi.png'>
    </div>

    <ion-item class="font">
      <ion-label class="font" position="floating">DNI</ion-label>
      <ion-input type="DNI" [(ngModel)]="id"></ion-input>
    </ion-item>
    <div class="buttonSignIn"> 
      <ion-button color="danger" class="shadow-redSecond" shape="round" [routerLink]="['/form-str-list/', id]"(click)="(Implementar())">Entrar</ion-button>
    </div>
    <div
    *ngIf="id==undefined" routerLink="/login-screen" routerDirection="forward">
    </div>
  </div>
</ion-content>

