<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="imagen">
    <img class="imagenSize" src="../../../assets/logo3.png">
  </div>
  <div>
    <ion-card-title *ngIf="user.isTeacher" text-center class="font">Welcome {{teacher.name}}</ion-card-title>
    <ion-card-title *ngIf="!user.isTeacher" text-center class="font">Welcome {{child.name}}</ion-card-title>
  </div>
  <div style="justify-content: space-around; display: flex;">
    <input type=image src="../../../assets/unnamed.png" width="50" height="50" [routerLink]="['/settings-profile-screen/', child.id]"/>
    
    
    <input *ngIf='currentUserIsTeacher()' type=image src="../../../assets/delete.png" width="50" height="50" (click)=deleteChild()/>
  </div>
  <ion-card-header>
    <div>
      <ion-card-title text-center class="font">Last reports</ion-card-title>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngFor="let report of reports">
      <ion-item>
        <ion-label class="fontLabel" [routerLink]="['/reports-screen/', report.id]">{{report.description}} {{report.id}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <div class="butt">
    <ion-button color="danger" class="shadow-red" shape="round" routerLink="/reports-screen">all
      reports</ion-button>
  </div>
</ion-content>
