.shadow-red{
    border-radius: 50%;
    box-shadow: 0px 10px 15px #800000;
    font-size: 20px;
}
.font{
    font-weight: bold;
    font-size: 25px;
}

.fontLabel {
    font-size: 20px;
}

.imagen{
    display:  flex;
    justify-content: center;
}

.imagenSize {
    width: 250px;
}

.settingsIcon {
    display: flex; 
    justify-content:flex-end;
    margin-right: 10px;

}

/*.buttonReports {
    float: right; 
    margin-right: 10px;
    margin-bottom: 5px;
}*/

.butt{
    text-align: center;
    margin-top: 50px;
}
